<mat-card>
	<mat-card-header>
		<input matInput #focusTitle (focus)="selectAllText()" [formControl]="formGroup.controls.name">
	</mat-card-header>
	<mat-card-content>
		<div *ngFor="let item of controlsArraySize" class="list-items-wrapper">
			<!-- <mat-checkbox></mat-checkbox> -->
			<mat-icon>check_circle_outline</mat-icon>
			<mat-form-field appearance="standard">
				<input matInput placeholder="New Item" [formControl]="contentFormGroup.controls[item]">
			</mat-form-field>
			<button mat-icon-button (click)="deleteItem(item)">
				<mat-icon>delete</mat-icon>
			</button>
		</div>

	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button (click)="addItem()">
			<span class="hide-in-mobile">Add item</span>
			<mat-icon>add_circle_outline</mat-icon>
		</button>
		<button mat-raised-button (click)="saveList()" [disabled]="formGroup.pristine && contentFormGroup.pristine">
			<span class="hide-in-mobile">Save</span>
			<mat-icon>save</mat-icon>
		</button>
	</mat-card-actions>
</mat-card>
