.mat-card {
	margin-top: 15px;
	align-content: flex-start;
}

.mat-card:hover {
	background-color: rgb(170, 41, 63);
}

.active {
	background-color: rgb(170, 41, 63);
}

.mat-icon-button {
	// margin-left: 50%;
	text-align: right;
}
