@import '../../defaults.scss';

.mat-card {
	margin-top: 15px;
	align-content: flex-start;
}

.mat-card:hover {
	background-color: $app-accent;
	color: white;
}

.active {
	background-color: $app-accent;
	color: white;
}

.list-name-wrapper {
	display: flex;
	align-items: center;
	height: 30px;
}

.mat-icon-button {
	margin-right: 0;
	margin-left: auto;
}
