<mat-card class="app">
	<mat-card-header>
		<mat-card-title class="title">
			{{title}}
		</mat-card-title>

		<div class="header-buttons">
			<button #downloadButton mat-icon-button (click)="this.download()" title="Backup your lists">
				<mat-icon>save</mat-icon>
			</button>

			<button mat-icon-button (click)="this.handleRestore()" title="Restore app from text file">
				<mat-icon>upgrade</mat-icon>
			</button>
		</div>
	</mat-card-header>

	<mat-card-content>
		<div class="wrapper">
			<div class="list-of-lists">
				<button *ngIf="(allLists$ | async).length > 1"
						class="expand-lists" mat-raised-button (click)="toogleList()">
					<span *ngIf="!hideList; else colapse">
						Expand
						<mat-icon>chevron_right</mat-icon>
					</span>
					<ng-template #colapse>
						Colapse
						<mat-icon>expand_more</mat-icon>
					</ng-template>
				</button>
				<div [ngClass]="!hideList ? 'hideList' : ''">
					<div *ngFor="let list of (allLists$ | async)">
						<app-list-card-name mat-menu-item [id]=list.id></app-list-card-name>
					</div>
				</div>


				<button mat-raised-button (click)="addNewList()">
					Add new List
					<mat-icon>add_circle_outline</mat-icon>
				</button>
			</div>

			<div class="list-view">
				<app-list-view *ngIf="isThereActive$ | async"></app-list-view>
			</div>
		</div>

	</mat-card-content>

</mat-card>
