@import '../defaults.scss';

//  Overwriting default theme css
.mat-card:not([class*='mat-elevation-z']) {
	box-shadow: none;
}

.title {
	font-size: 2em;
	color: $app-accent;
}

.wrapper {
	display: flex;
}

.list-of-lists {
	margin-top: 20px;
	width: 20%;
	max-width: 500px;
}

.app {
	margin: 40px;
	background-color: $app-primary;
	height: 100vh;
	padding: 25px;
}

.mat-raised-button {
	margin-top: 30px;
}

.list-view {
	margin-left: 200px;
	margin-top: 35px;
	width: 55%;
}
.expand-lists {
	display: none;
}

.header-buttons {
	margin-top: -10px;
}

.mat-icon {
	vertical-align: middle;
}

@media (max-width: $breakpoint-phone) {
	.app {
		width: 80vw;
		margin-top: 2vh;
		margin-left: 2vw;
		overflow: scroll;
	}
	.mat-card-content {
		display: block;
	}
	.wrapper {
		display: block;
	}
	.list-of-lists {
		display: block;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		max-width: 400px;
	}

	.list-view {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}

	.title {
		font-size: 1.5em;
	}

	.hideList {
		display: none;
	}

	.expand-lists {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.mat-raised-button {
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}
