<mat-card class="app">
	<mat-card-header>
		<mat-card-title class="title">
			{{title}}
		</mat-card-title>
		<button #downloadButton mat-icon-button (click)="this.download()">
			<mat-icon>save</mat-icon>
		</button>
		<button mat-icon-button (click)="this.handleRestore()">
			<mat-icon>upgrade</mat-icon>
		</button>

	</mat-card-header>

	<mat-card-content>
		<div class="wrapper">
			<div class="list-of-lists">
				<button class="burger-menu" mat-icon-button (click)="toogleList()">
					<mat-icon>menu</mat-icon>
				</button>
				<div [ngClass]="!hideList ? 'hideList' : ''">
					<div *ngFor="let list of (allLists$ | async)">
						<app-list-card-name mat-menu-item [id]=list.id></app-list-card-name>
					</div>
				</div>


				<button mat-raised-button (click)="addNewList()">
					Add new List
					<mat-icon>add_circle_outline</mat-icon>
				</button>
			</div>

			<div class="list-view">
				<app-list-view *ngIf="isThereActive$ | async"></app-list-view>
			</div>
		</div>

	</mat-card-content>

</mat-card>
