<mat-card class="app">
	<mat-card-header>
		<mat-card-title class="title">
			{{title}}
		</mat-card-title>

		<div class="header-buttons">
			<button #downloadButton mat-icon-button (click)="this.download()" title="Backup your lists">
				<mat-icon>save</mat-icon>
			</button>

			<button mat-icon-button (click)="this.handleRestore()" title="Restore app from text file">
				<mat-icon>upgrade</mat-icon>
			</button>
		</div>
	</mat-card-header>

	<mat-card-content>
		<app-single-view></app-single-view>
	</mat-card-content>

</mat-card>
