.title {
	font-size: 2em;
}

.list-of-lists {
	margin-top: 20px;
}

.app {
	margin: 40px;
	background-color: #a19842a4;
	height: 100vh;
	padding: 25px;
}

.mat-raised-button {
	margin-top: 30px;
}
