.title {
	font-size: 2em;
}

.wrapper {
	display: flex;
}

.list-of-lists {
	margin-top: 20px;
	width: 20%;
	max-width: 500px;
}

.app {
	margin: 40px;
	background-color: #a19842a4;
	height: 100vh;
	padding: 25px;
}

.mat-raised-button {
	margin-top: 30px;
}

.list-view {
	margin-left: 200px;
	width: 40%;
}
