@import '../defaults.scss';

//  Overwriting default theme css
.mat-card:not([class*='mat-elevation-z']) {
	box-shadow: none;
}

.title {
	font-size: 2em;
	color: $app-accent;
}

.app {
	margin: 40px;
	background-color: $app-primary;
	height: 100vh;
	padding: 25px;
}
.mat-card-header {
	justify-content: space-between;
}

.header-buttons {
	margin-right: 0;
	margin-top: -10px;
}

.mat-icon {
	vertical-align: middle;
}

.mat-raised-button {
	margin-left: 30px;
}

@media (max-width: $breakpoint-phone) {
	.app {
		width: 80vw;
		margin-top: 2vh;
		margin-left: 2vw;
		overflow: scroll;
	}
	.mat-card-content {
		display: block;
	}

	.title {
		font-size: 1.5em;
	}
}
