@import '../../defaults.scss';

.wrapper {
	display: flex;
}

.list-of-logs {
	margin-top: 20px;
	width: 20%;
	max-width: 500px;
}

.mat-raised-button {
	margin-top: 30px;
}

.log-view {
	margin-left: 200px;
	margin-top: 35px;
	width: 55%;
}

.expand-lists {
	display: none;
}

.mat-icon {
	vertical-align: middle;
}

@media (max-width: $breakpoint-phone) {
	.wrapper {
		display: block;
	}

	.list-of-logs {
		display: block;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		max-width: 400px;
	}

	.log-view {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}

	.mat-raised-button {
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.expand-lists {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.hide-mobile {
		display: none;
	}
}
